* {
    font-family: 'Montserrat', sans-serif;
  
}

.navbar-light .navbar-brand {
    color: white;
    float: left;
    margin-right: 75%;
    margin-left:5px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: lawngreen;
}

.navbar-light .navbar-nav .nav-link {
    color: lawngreen;
}

.form-group, h1 {
    margin-left: 20px;
}

.btn-dark {
    color: lawngreen;
    background-color: #343a40;
    border-color: #343a40;
    margin-left: 20px;
    margin-top: 30px;
}
